<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webhook Registry Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/admin.styles.css">
</head>

<body>
    <div class='full-page'>
        <form action="/logout" method="post" class='logout-form'>
            <button type="submit" id="trigger-btn" class="btn btn-outline-danger">Logout</button>
        </form>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                Webhooks Created By The User
            </h3>
            <div class="card-body">
                <div id="table" class="table-editable">

                    <span class="table-add float-right mb-3 mr-2">
                        <form action="/admin/register" method="get">
                            <button class="btn btn-info">Add</button>
                        </form>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Webhook #id</th>
                                <th class="text-center">Target URL</th>
                                <th class="text-center">Update</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- Dynamically form the tables rows depending on the number of webhooks present -->
                            <% webhooks.forEach(hook => { %>
                            <tr>
                                <td class="pt-3-half" contenteditable="true"><%= hook._id %></td>
                                <td class="pt-3-half" contenteditable="true"><%= hook.target_url %></td>
                                </td>
                                <td>
                                    <span class="table-remove">
                                        <form action="/admin/delete" method="post">
                                            <input type="hidden" name="hook_id" value="<%= hook._id %>">
                                            <button type="submit" class="btn btn-danger btn-rounded btn-sm my-0">
                                                Remove
                                            </button>
                                        </form>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="table-remove">
                                            <form action="/admin/update/:<%= hook._id.toString() %>?b=<%= hook.target_url.toString() %>" method="get">                                                
                                                <input type="hidden" name="hook_url" value="<%= hook.target_url %>">
                                                <input type="hidden" name="hook_id" value="<%= hook._id %>">
                                                <button type="submit" class="btn btn-success btn-rounded btn-sm my-0">
                                                    Update
                                                </button>
                                            </form>
                                            </span>
                                        </td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form action="/ip" method="get" class='trigger-form'>
            <button type="submit" id="trigger-btn" class="btn btn-outline-dark">Trigger Webhooks</button>    
        </form>
    </div>
</body>

</html>